
{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
    {% block head%}
    <title>Top Melons</title>
    {% endblock head%}


  {% block content%}
<!-- Create a div for every Most Loved Melon using a Jinja for loop -->
  <div class='melon-div'>
        <h1> Welcome  {{session['first_name']}} </h1>

        {% for melon in melons %}
        <h3>{{session['first_name']}}, this is a {{melons[melon]['name']}}</h3>
        <h2> Loves :{{melons[melon]['num_loves']}}</h2>
        <img class = 'melonImg'src = "{{melons[melon]['img']}}" />
        
    {%endfor%}
  </div>   
{% endblock content%}

